<div class="modal fade" id="manageModal" tabindex="-1" aria-labelledby="manageModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="manageModalLabel">Manage ⚙</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-auto">
                            <input type="text" class="form-control" id="chatroomNameInput" placeholder="Chatroom Name" value="{{ chatroom.name }}">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" id="chatroomNameButton">Change title</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="removeChat">Remove Chatroom 🗑</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="closeManageModal">Close ❎</button>
                </div>
            </form>
        </div>
    </div>
</div>