<div class="media media-chat media-chat-reverse">
    <div>
        <img class="avatar" src="{{ message.author.profilePic|imagine_filter('user_preview_pic') }}" alt="user pic">
        <span>{{ message.author.userIdentifier }}</span>
        <time datetime="2018">{{ message.createdAt|date('H:i') }}</time>
    </div>
    <div class="media-body">

        <p>{{ message.text }}</p>

    </div>
</div>
