<div class="modal fade" id="newDialogModal" tabindex="-1" aria-labelledby="newDialogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="newDialogModalLabel">Create New Dialog 👫</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="chatroomName" class="form-label">Chatroom</label>
                        <input type="text" name="name" class="form-control" id="chatroomName" placeholder="Chatroom's name (may be empty)">
                    </div>
                    <div class="form-check form-switch mb-3">
                        <label class="form-check-label" for="privateCheckbox">Private</label>
                        <input class="form-check-input" name="private" type="checkbox" id="privateCheckbox" checked>
                    </div>
                    <div class="mb-3 has-validation">
                        <label for="selectUser" class="form-label">User(s)</label>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <div id="autocomplete" data-query-url="{{ path('usersListApi') }}"></div>
                            </div>
                            <div class="col-2">
                                <button type="button" class="no-style" id="addField"><i class="bi bi-plus-circle"></i></button>
                                <button type="button" class="no-style" id="removeField"><i class="bi bi-dash-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="createChatroomButton" data-controller-url="{{ path('roomCreate') }}">Create Chatroom ✅</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close ❎</button>
                </div>
            </form>
        </div>
    </div>
</div>