@import "chat.css";
@import "~bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

i.bi-pencil-square {
    font-size: 2rem;
    color: #8c9aee;
}

i.bi-pencil-square:hover {
    color: #5267e7;
    cursor: pointer;
}

i.bi-plus-circle, i.bi-dash-circle {
    font-size: 1rem;
    color: #8c9aee;
}

i.bi-plus-circle:hover, i.bi-dash-circle:hover {
    color: #5267e7;
    cursor: pointer;
}

button.no-style {
    border: none;
    background: none;
}

.aa-Panel *, .aa-Panel {
    z-index: 5000 !important;
}
